.App {
  text-align: center;
  word-break: break-word;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
  /* vertical-align: center; */
}

.App-title {
  font-size: 1.5em;
    margin: 0px;
  text-align: center;
}

.App-intro {
  font-size: large;
}

@media (min-width: 340px) {
  .App-title {
    line-height: 60px;
  }
}

@media (min-width: 700px) {
  .App-title {
font-size: 35px
;  }
}
